package main

import (
	{{- range $path, $aliases := .Imports}}
		{{- if not $aliases}}
			"{{$path}}"
		{{- else}}
			{{- range $alias, $is := $aliases}}
				{{$alias}} "{{$path}}"
			{{- end}}
		{{- end}}
	{{- end}}
)

func main() {
    svr := {{.PkgRefName}}.NewServer(new({{.ServiceName}}Impl))

    err := svr.Run()

    if err != nil {
        log.Println(err.Error())
    }
}
