# For more information, please refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @cloudwego/Kitex-reviewer @cloudwego/Kitex-approver @cloudwego/Kitex-maintainer
